{% spaceless %}

    {# Defining global variables #}

    {% if pagetitle is not defined %}
        {% set pagetitle = 'Baïkal' %}
    {% endif %}

    {% if 'Baïkal' not in pagetitle %}
        {% set pagetitle = pagetitle ~ ' | Baïkal' %}
    {% endif %}

{% endspaceless %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ pagetitle }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="shortcut icon" type="image/png" href="/favicon.png" />
        <meta name="generator" content="Symfony 2" />

        <style>
            body {
                padding-top: 60px;
            }
        </style>

        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/frontendbundle.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.css') }}" />
        {% block stylesheets %}{% endblock %}

    </head>
    <body>

        {% include 'NetgustoBaikalFrontendBundle:Layouts:partials/_header.html.twig' %}
        
        <div class="container">
            {% block content %}
            <p>Content here</p>
            {% endblock %}
        </div>

        {% include 'NetgustoBaikalFrontendBundle:Layouts:partials/_footer.html.twig' %}

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ asset('bundles/sonatajquery/jquery-1.9.1.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        {% block scripts %}{% endblock %}
        <script type="text/javascript">
        {% block js %}{% endblock %}
        </script>
    </body>
</html>